.Rproj.user.*
.RData
.Rhistory
.Rproj.user
setup_call_summary.txt
summary_tables_PA_AP_cache/html/
summary_tables_PA_AP_files/figure-html/
code/producing_trips_rd/trip-summary_files/figure-html/
results/multi_city/io.rds
results/multi_city/whw_matrices/interactive_plots/
/.quarto/
.Renviron
repo_sha
renv/
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
docs
