/*-- scss:defaults --*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);
// fonts
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-monospace: "Fira Code", monospace !default;
// colors
$color_base: #009F8C !default;
$color_accent: #B75C9D !default;
$body_bg: #ffffff !default;
$body-color: #272822 !default;
$link-color: #B75C9D !default;
// headings
$presentation-heading-font: "Josefin Sans", sans-serif !default;
$presentation-heading-color: #009F8C !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
$h4-font-size: 1.0em !default;
// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: #009F8C;
/*-- scss:rules --*/

$right-arrow: "\2192"; // Unicode character for right arrow

.reveal p {
  font-weight: 300;
  margin-top: 1.25em;
}

// lists

// Unordered lists

.reveal ul {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: mix($color_base, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($color_base, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

.reveal ol {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: $color_base;
  }
}

.reveal ol ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($color_base, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}



